---
---

@import "{{ site.theme }}";

.search {
	width: 50%;
	margin: 0 auto;
	padding: 100px 0;
}

h1 {
	font-size: 32px !important;
	font-weight: 500 !important;
}

h2 {
	font-size: 26px !important;
	font-weight: 400 !important;
	margin-bottom: 5px !important;
}

h3 {
	font-size: 20px !important;
	font-weight: 300 !important;
	margin-bottom: 5px !important;
	margin-top: 15px !important;
}
